.navbar-inverse {background-color: #cc0000;} 
.navbar-inverse .navbar-brand, .navbar-inverse .navbar-brand:hover {color: #f66;}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {background-color: #900;}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {background-color: #c00;}
