{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link href='//fonts.googleapis.com/css?family=Asap:700' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Roboto:400,400italic,500,700' rel='stylesheet' type='text/css'>
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}?20160417" rel="stylesheet"/>
    <link href="{% static 'bootstrap/css/bootstrap-social.css' %}?20160417" rel="stylesheet"/>
    <link href="{% static 'bootstrap/css/font-awesome-4.6.3/css/font-awesome.css' %}?20160417" rel="stylesheet"/>
    <link href="{% static 'dwad.css' %}?20160420" rel="stylesheet"/>
    {% block icons %}
      <link rel="icon" type="image/png" href="{% static 'favicon.png' %}">
      <link rel="apple-touch-icon" sizes="120x120" href="{% static 'icon-iphone-retina.png' %}" />
      <link rel="apple-touch-icon" sizes="152x152" href="{% static 'icon-ipad-retina.png' %}" />
    {% endblock %}
    <script type="text/javascript">
      // When installed as a standalone app, prevent links from opening in Mobile Safari
      (function(document,navigator,standalone) {
        if ((standalone in navigator) && navigator[standalone]) {
          var a, location=document.location, stop=/^(a|html)$/i;
          document.addEventListener('click', function(e) {
            a=e.target;
            while (!(stop).test(a.nodeName)) {
              a=a.parentNode;
            }
            if('href' in a && (chref=a.href).replace(location.href,'').indexOf('#') &&
               (!(/^[a-z\+\.\-]+:/i).test(chref) || chref.indexOf(location.protocol+'//'+location.host)===0)) {
              e.preventDefault();
              location.href = a.href;
            }
          },false);
        }
      })(document,window.navigator,'standalone');
    </script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <!--[if lt IE 9]><!-->
      <script src="{% static 'html5shiv.js' %}"></script>
      <script src="{% static 'respond.min.js' %}"></script>
    <!--<![endif]-->
    {% block extrahead %}{% endblock %}
  </head>
  <body>
    <div id="wrap">
      {% include "meta/fragments/navbar.html" %}
      {% block header %}{% endblock %}
      <div class="container">
        {% block banner %}
          <div class="row">
            <div class="col-md-12 page-header">
              <h2>{% block heading %}{% endblock %}</h2>
            </div>
          </div>
        {% endblock %}
        {% include "meta/fragments/messages.html" %}
        {% block content %}{% endblock %}
      </div>
    </div>
    <div id="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-9 text-muted credit">
            {% include "meta/fragments/footertext.html" %}
          </div>
          <div class="col-md-3 credit">
            <small>
              {% block footerright %}
              {% endblock %}
            </small>
          </div>
        </div>
      </div>
    </div>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}?20160130"></script>
  </body>
</html>

