{% extends "meta/base.html" %}
{% block extrahead %}{% include "meta/fragments/filepickerresources.html" %}{% endblock %}
{% block title %}FreeBetFriend - {{ user.username|title }}{% endblock %}
{% block banner %}{% endblock %}

{% block content %}
  <div class="row space-above">


<div class="col-md-12 col-md-offset-0">

      <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">Login Details For: {{ user.get_full_name }}</h2>
        </div>
        <div class="panel-body">
              <span class="col-xs-12 col-md-4 col-md-offset-0"> <b>Username:&nbsp;</b>{{ user.username }}</span>
              <span class="col-xs-12 col-md-4 col-md-offset-0"> <b>Password:&nbsp;</b>
                  <em class="text-muted">Not Shown</em>:&nbsp;
                  
                  <a href="{% url 'change_password' %}" class="btn btn-default btn-sm" style="margin: -5px 0;">
                      <span class="visible-xs glyphicon glyphicon-pencil"></span>
                      <span class="hidden-xs">Change</span>
                  </a></span>

<span class="col-xs-12 col-md-4 col-md-offset-0"> <b>E-mail:&nbsp;</b>{{ user.email }}:&nbsp;<a href="{% url 'change_email' %}" class="btn btn-default btn-sm" style="margin: -5px 0;"><span class="visible-xs glyphicon glyphicon-pencil"></span><span class="hidden-xs">Change</span></a></span>

        </div>
      </div>
    </div>

<div class="col-md-12 col-md-offset-0">
    
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">I.D Upload:</h2>
        </div>
        <div class="panel-body">
            <div class="col-xs-12 col-md-12">
                {% if num_files >= 1 %}
                    <span class="col-xs-12 alert alert-info">
                        <CENTER><B>Thank you for uploading some documentaion.</B><BR></BR>If you have uploaded all the requested documentation then sit back and wait.  We will update your account  with 24 hours to confirm details and change your account status to verified.</CENTER>
                    </span>
                {% endif %}
                <div class="col-xs-12 alert alert-warning">
                    <CENTER><B>ACCOUNT UNVERFIED - PLEASE UPLOAD THE FOLLOWING DOCUMENTS</B></CENTER>
                </div>
                <div class="col-xs-12 col-md-6 alert alert-warning">
                Please upload <B>ONE</B> of the following forms of ID:<BR></br>
                * The front and back of your driving licence.<BR>
                * The photo page of your passport.<BR>
                * Front and back of your national ID card.<BR>
                </div>
                <div class="col-xs-12 col-md-6 alert alert-warning">
                Please upload <B>ONE</B> of the following as proof of address:<BR></br>
                * Bank or utility statement.<BR>
                * Council Tax.<BR>
                * Phone Bill.<BR>
                </div>


            </div>
            <div class="col-md-12 col-md-offset-0">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="col-xs-12 col-md-5 col-md-offset-0">{{ form.document }}</div>
                <div class="col-xs-12 col-md-1 col-md-offset-0"><button name="upload" type="submit" >Upload</button></div>
            </form>

            {% for image in images %}
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="col-md-1 col-md-offset-0">
                    <img style="width: 100%;" src='{{MEDIA_URL}}/{{ username }}/{{image}}'  alt="ID Image"/>
                        <div style="text-align: center;"><button type = "submit" name = "{{image}}" class = "btn btn-danger btn-sm">Delete</button></div>
                </div>
            </form>
            {% endfor %}
            </div>

        </div>
    </div>
</div>



<div class="col-md-12 col-md-offset-0">
    
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">Previous Address:{{a}}</h2>
        </div>
        <div class="panel-body">

            <!--

            <div class="col-md-12 col-md-offset-0">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="col-xs-12 col-md-12 col-md-offset-0">
                        <span class="col-xs-12 col-md-5 col-md-offset-0">What form of I.D did you upload?</span>
                        <span class="col-xs-12 col-md-7 col-md-offset-0">{{ form_address.id_choice }}</span>
                    </div>

                    <div class="col-xs-12 col-md-12 col-md-offset-0">
                        <span class="col-xs-12 col-md-5 col-md-offset-0">How long have you lived at the address in?</span>
                        <span class="col-xs-12 col-md-7 col-md-offset-0">{{ form_address.house_occupancy_choice }}</span>
                    </div>
            </div>
            //-->

            <div class="col-md-12 col-md-offset-0">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <span class="col-xs-12 alert alert-info">
                        <CENTER>Please enter your address below <B>ONLY</B> if you have lived at your current address for less than two years.</CENTER>
                    </span>
                    <div class="col-xs-12 col-md-6 col-md-offset-0">

                        <span class="col-xs-12 col-md-5 col-md-offset-0">{{ form_address.add1housenumberorname.label }}</span>
                        <span class="col-xs-12 col-md-7 col-md-offset-0">{{ form_address.add1housenumberorname }}</span>
                        <span class="col-xs-12 col-md-5 col-md-offset-0">{{ form_address.add1street1.label }}</span>
                        <span class="col-xs-12 col-md-7 col-md-offset-0">{{ form_address.add1street1 }}</span>
                        <span class="col-xs-12 col-md-5 col-md-offset-0">{{ form_address.add1street2.label }}</span>
                        <span class="col-xs-12 col-md-7 col-md-offset-0">{{ form_address.add1street2 }}</span>
                        <span class="col-xs-12 col-md-5 col-md-offset-0">{{ form_address.add1townorcity.label }}</span>
                        <span class="col-xs-12 col-md-7 col-md-offset-0">{{ form_address.add1townorcity }}</span>
                        <span class="col-xs-12 col-md-5 col-md-offset-0">{{ form_address.add1county.label }}</span>
                        <span class="col-xs-12 col-md-7 col-md-offset-0">{{ form_address.add1county }}</span>
                        <span class="col-xs-12 col-md-5 col-md-offset-0">{{ form_address.add1country.label }}</span>
                        <span class="col-xs-12 col-md-7 col-md-offset-0">{{ form_address.add1country }}</span>
                        <span class="col-xs-12 col-md-5 col-md-offset-0">{{ form_address.add1postcode.label }}</span>
                        <span class="col-xs-12 col-md-7 col-md-offset-0">{{ form_address.add1postcode }}</span>
                    </div>
                    </div>
            
            <div class="col-xs-12 col-md-1 col-md-offset-1">
                <button name = "address" type="submit" >Upload</button>
            </div>
            </form>
        </div>
    </div>
</div>




  </div>
{% endblock %}
